body{
	margin: 0;
  font-family: 'Electrolize', sans-serif;
}

.site-header {
	width: 100%;
	height: 50px;
}

.wrap {
	line-height: 50px;
  height: 50px;
  position: relative;
  margin-top: 1%;
}

.hamburger {
	position: absolute;
	right: 23px;
  top: 0;
  display: none;
}

.title-area {
	width: 32%;
	display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

.title-area a {
	padding-left: 40%;
}
@media screen and (min-width:1241px) {
	.site-menu {
		display: inline-block !important;
	  line-height: normal;
	  vertical-align: middle;
	}
}

.main-nav {
	float: right;
}

.main-nav li {
	float: left;
	padding: 2px;
	padding-right: 15px;
	font-size: 13px;
}

.main-nav li.icon {
	display: none;
}

.main-nav a {
	color: black;
}

.main-nav a:link {
	color: black;
	text-decoration:none;
}

.main-nav a:hover {
	color: #18BDE6;
	position: relative;
}

.main-nav a{
	position: relative;
}	

@media screen and (min-width:1241px) {
	.main-nav a:hover::before {
		content: '';
		position: absolute;
		height: 1px;
		width:50%;
		background-color: #18BDE6;
	}	
}

.main-nav a:active {
	color: #18BDE6;
}

.main-nav {
	list-style-type: none;
	font-family: 'Electrolize', sans-serif;
}

.upper-section {
	width: 80%;
	margin: 1.5% auto;
	text-align: center;
}

.left-section {
	width:26%;
	margin-right: 20px;
}

.left-section-upper {
	padding-bottom: 20px;
	position: relative;
}

.left-section img {
	width: 100%;
}

/*.event-calendar {
	position: absolute;
  background-color: #ff6f00;
  text-align: center;
  bottom: 11%;
  left: 0%;
  padding: 13px 0;
  width: 100%;
}

.event-calendar a {
	text-decoration: none;
	color: white;
}
.event-calendar p {
	margin: 0;
}*/

.left-section-below {
	padding-bottom: 3px;
	position: relative;
}

.know-more {
	position: absolute;
	border:1px solid #0098bc;
	color: white;
  top: 59%;
  bottom: 35%;
  left: 8%;
  font-size: small;
  text-align: center;
  padding: 6px 5px 19px 5px;
}

.know-more a {
	color: white;
	text-decoration: none;
}

.right-section {
	width: 65%;
	position: relative;
}

.right-section img {
	width: 100%;
}

.slider-arrow {
	position: absolute;
  bottom: 7%;
  left: 3%;
}

.upper {
	display: inline-block;
	vertical-align:top;
}
	
.middle-section {
	width: 100%;
	overflow: hidden;
	margin-top: 14px;
	/*margin: auto;*/
}

.featured-post {
	background-color: #F1402C;
	width: 8%;
	height: 365px;
	position: relative;
	float: left;
	
}

.featured-post::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 33px solid transparent;
	border-left: 44px solid #F1402C;
	border-bottom: 37px solid transparent;
	position: absolute;
	left: 90%;
	top: 28%;
	z-index: 2;
}

.featured-post-text {
	transform: rotate(-90deg);
	color: white;
	position: absolute;
	bottom: 81px;
	right: -49px;
  font-size: 24px;
  white-space: nowrap;
}

.image-block {
	width: 30.66%;
	position: relative;
	float: left;
}

.first-image {
	position: relative;
}

.black-effect {
	position: absolute;
	background-color: rgba(0,0,0,0.9);
	height: 365px;
	width: 100%;
	bottom: 4px;
}

.text {
	text-align: center;
	position: absolute;
}

.image1 {
	opacity: 0.5;
}
	
.text1 {
	left: 17%;
  bottom: 34%;
}

.comments a {
	color:#15A9D0; 
	text-decoration:none;
}

.description p {
	color: white;
}

.text2,.text3 {
	padding-top: 22px;
	padding-bottom: 22px;
	bottom: 4px;
	width: 100%;
}

.text2{
	background-color: #FE6E00;
}

.text3{
	background-color: #202526;
}


.date p {
  margin: 0 0 8px;
	color: #909294;
	font-size: 12px;
}

.digital {
	padding-bottom: 15px;
}

.digital a {
	text-decoration: none;
	color: white;
}

.lower-section {
	padding: 2px;
	width: 100%;
	background-image: url("../img/views-opinions-background.jpg");
	background-repeat: repeat-x;
}

.lower-section h2 {
	text-align: center;
}

.lower-section h2:first-child {
	padding-top: 1%;
}

.footer-1 {
	background-color: #252930;
	margin-top: 3px;
  width: 100%;
}

.footer-inside {
	width: 81%;
	margin: auto;
	color: #FBFBFB;
	padding: 33px 10px;
}

.footer-post {
	margin-right: 12px;
	display: inline-block;
	vertical-align: top;
}

button.accordion,.fade2 {
	display: none;
}

.posts {
	padding-top: 10px;
	border-bottom: 1px solid #73757A;
}

div.posts:last-child,div.tweets:last-child,div.archives-content:last-child,div.topics:last-child {
	border-bottom: none;
}

.popular-post {
	position: relative;
	width: 24%;
}

.post-content a {
	font-size: 13px;
	color: #F1F1F1;
}

.post-date {
	display: inline-block;
	font-size: 12px;
	color: #15A9D0;
}

.post-date p {
	margin-top: 6px;
	border-right: 1px solid #73757A;
	padding-right: 8px;
}

.post-comment {
	display: inline-block;
	font-size: 12px;
	padding-left: 8px;
}

.post-comment a {
	color: #67696F;
}

.arrows {
}

.left {
  position: absolute;
  top: 18px;
  right: 11px;
}

.right {
	position: absolute;
  top: 18px;
  right: -23px;
}

.time p {
	font-size: 10px;
	margin: 0;
	color: #67696F;
}

.twitter {
	width: 28%;
}

.tweets {
	padding-top: 10px;
	border-bottom: 1px solid #73757A;
}

.tweet-content p {
	margin-top: 10px;
	font-size: 13px;
}

.tweet-content a {
	color: #15A9D0;
}

.tweet-content p:link{
	color: #15A9D0;
}

.month {
	display: inline-block;
}

.number {
	display: inline-block;
  /*padding-left: 83%;*/
  float: right;
}

.archives {
	width: 20%;
}

.archives-content {
	border-bottom: 1px solid #73757A;
	margin-top: 12px;
	color: #67696F;
	font-size: 13px;
}

.month p {
	margin: 0;
	margin-bottom: 8px;
}

.number p {
	margin: 0;
	margin-bottom: 8px;
}

.archives-content:hover {
	border-bottom: 1px solid #15A9D0;
}

.archives-content:hover p {
	color: white;
}

.popular-topics {
	width: 20%;
}

.topics {
	border-bottom: 1px solid #73757A;
	margin-top: 12px;
	position: relative;
	color: #67696F;
	font-size: 13px;
}

.title {
	display: inline-block;
}

.link-arrow {
	display: inline-block;
  /*padding-left: 68%;*/
  position: absolute;
  right: 0;
}

.link-arrow-transparent {
	/*z-index: 3;*/
	display: inline-block;
}

.link-arrow-white {
	/*z-index: 2;*/
	display: none;
}

.title p {
	margin: 0;
	margin-bottom: 8px;
}

.topics:hover {
	border-bottom: 1px solid #15A9D0;
}
.topics:hover .title p{
	color: white;
}

.topics:hover .link2 {
	/*z-index: 6;*/
	display: inline-block;
}

a.left  {
  background-image: url("../img/leftarrow.png");
  background-repeat: no-repeat;
  padding: 20px;
  padding-left: 6px;
}

a.right {
	background-image: url("../img/rightarrow.png");
	background-repeat: no-repeat;
  padding: 20px;
}




a.left:hover {
	background-image: url("../img/left-white.png");
}

a.left:active {
	background-image: url("../img/left-white.png");
}

a.right:hover{ 
	background-image: url("../img/right-white.png");
}

a.right:active {
	background-image: url("../img/right-white.png");
}


.posts-inside {
	display: block;
}

.posts-inside ul {
	list-style: none;
}

.main-footer {
	color: #A6A9A9;
	width: 75%;
	margin: auto;
	padding: 4px 0;
}

.copyright-footer {
	
}

.copyright-footer p {
	text-align: center;
	padding-top: 2%;
	font-size: 11px;
}

.top {
	float: right;
  margin-top: -46px;
}




/*
* @media queries
*/

@media screen and (max-width:1240px) {

	.title-area a {
		padding-left: 13px;	
	}

	.hamburger {
		display: inline-block;
	}

	.hamburger a {
		cursor: pointer;
	}

	.site-menu {
		width: 100%;
		margin-top:-5px;
		display: none;
	}

	.site-menu.responsive {
		display: block;
		width: 100%;
		background-color: white;
		position: absolute;
		z-index: 999;
	}

	.site-menu.responsive ul {
		display: block;
		line-height: 35px;
		background-color: #fff;
		/*position: relative;*/
    width: 100%;
    z-index: 999;
    margin: auto;
    padding: 0;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border-radius: 0 0 5px 5px;
	}

	.site-menu.responsive ul li {
		width: 100%;
		float: none;
		font-size: 13px;
		padding: 0 0 0 18px;
	}

	.site-menu.responsive ul li:hover {
		background-color: #f1402c;
		color: white;
	}

	.site-menu.responsive ul li a:hover {
		color: white;
	}
	
	.left-section {
		display: block;
		width: 100%;
	}

	.left-section-upper {
		display: inline-block;
	}

	.left-section-below {
		display: inline-block;
	}

	.right-section {
		display: block;
		width: 100%;
	}
}


@media screen and (max-width:775px) {

	.upper-section {
		width: 100%;
	}
	.left-section {
		display: block;
		width: 100%;
	}

	.left-section-upper,.left-section-below {
		display: block;
	}
	.right-section{
		margin-top: 7px;
		width: 100%;
	}

	.upper-section img {
		height: auto;
	}

	.slider-arrow {
    position: absolute;
    bottom: 5%;
    left: 4%;
	}

	.featured-post {
		display: none;
		width: 100%;
		float: none;
		height: 50px;
	}

	./*featured-post-text {
		transform: none;
		text-align: center;
		bottom: -7px;
    right: 26%;
    font-size: 19px;
	}
*/
	.featured-post::after {
		display: none;
	}

	.image-block,.lower-section {
		display: block;
		width: 100%;
	}

	
	.lower-section h2 {
		font-size: 16px;
	}

	.footer-post {
		display: block;
		width: 100%;
	}

	.footer-inside {
		padding: 24px 10px;
	}

	button.accordion {
		background-color: #909294;
    border: 1px solid #343434;
    padding: 4px 20px 5px;
    margin: 0;
    cursor: pointer;
    display: block;
    width: 100%;
    text-align: left;
	}
	button.accordion:focus {
		outline: none;
	}

	button.accordion:not(:last-child) {
		margin-bottom: 8px;
	}

	button.accordion:after {
    content: '\02795';
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
	}

	button.accordion.active:after {
    content: "\2796";
	}

	.footer-post {
		max-height: 0;
		overflow: hidden;
		transition: 0.6s ease-in-out;
    opacity: 0;
	}

	.footer-post.show {
		opacity: 1;
    max-height: 1000px;
	}

	div.posts:last-child {
		margin-bottom: 11px;
	}

	div.tweets:last-child,div.archives-content:last-child,div.topics:last-child {
		margin-bottom: 11px;
	}

	.copyright-footer p {
		text-align: center;
		padding-top: 0;
		font-size: 12px;
	}

	.top {
		margin-right: -42px;
		width: 34px;
		margin-top: -39px;
	}
}